.employee-container{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}



.employee-container h2{

color:#111827;

margin-bottom:25px;

}



/* Search */


.search-box{

margin-bottom:20px;

}



.search-box input{

width:300px;

padding:12px;

border:1px solid #d1d5db;

border-radius:8px;

outline:none;

}



/* Form */


.employee-form{

display:flex;

flex-wrap:wrap;

gap:12px;

margin-bottom:30px;

}



.employee-form input{

width:200px;

padding:12px;

border:1px solid #d1d5db;

border-radius:8px;

outline:none;

}



.employee-form input:focus{

border-color:#2563eb;

}



/* Button */


.add-btn{

background:#2563eb;

color:white;

padding:12px 22px;

border:none;

border-radius:8px;

cursor:pointer;

font-weight:600;

}



.add-btn:hover{

background:#1d4ed8;

}



/* Table */


table{

width:100%;

border-collapse:collapse;

}



thead{

background:#111827;

color:white;

}



th{

padding:14px;

text-align:left;

}



td{

padding:14px;

border-bottom:1px solid #e5e7eb;

font-size:14px;

}



tbody tr:hover{

background:#f9fafb;

}



/* Attendance */


.present{

background:#dcfce7;

color:#15803d;

padding:6px 12px;

border-radius:20px;

font-size:12px;

font-weight:600;

}



/* Delete */


.delete-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:7px;

cursor:pointer;

}



.delete-btn:hover{

background:#b91c1c;

}




@media(max-width:900px){


.employee-form input{

width:100%;

}


table{

display:block;

overflow-x:auto;

}


.search-box input{

width:100%;

}


}