.materials-container{

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,0.08);

}



.materials-container h2{

margin-bottom:25px;

color:#111827;

}




.search-area{

margin-bottom:20px;

}



.search-area input{

width:300px;

padding:12px;

border:1px solid #ddd;

border-radius:8px;

outline:none;

}




.material-form{

display:flex;

gap:10px;

flex-wrap:wrap;

margin-bottom:25px;

}




.material-form input{

padding:12px;

border:1px solid #ddd;

border-radius:8px;

outline:none;

}





.add-btn{

background:#2563eb;

color:white;

border:none;

padding:12px 20px;

border-radius:8px;

cursor:pointer;

}



.add-btn:hover{

background:#1d4ed8;

}







table{

width:100%;

border-collapse:collapse;

}





thead{

background:#111827;

color:white;

}



th{

padding:14px;

text-align:left;

}



td{

padding:14px;

border-bottom:1px solid #eee;

}






.low-stock{

background:#fee2e2;

color:#dc2626;

padding:6px 12px;

border-radius:20px;

font-size:13px;

}




.available{

background:#dcfce7;

color:#15803d;

padding:6px 12px;

border-radius:20px;

font-size:13px;

}





.delete-btn{

background:#dc2626;

color:white;

border:none;

padding:8px 15px;

border-radius:7px;

cursor:pointer;

}



.delete-btn:hover{

background:#b91c1c;

}